{{define "category_table"}}
{{$categories := .PageContent.Categories}}
<div class="create-cat"> 
   <form method="POST" action="/category/new">
  <button type="submit" class="btn--icon create" aria-label="Delete user">
         <i class="ph ph-plus"></i>  Create New
  </button>
  </form>
</div>
<table class="admin-table" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Category Id</th>
      <th>Edit</th>
      <th class="admin_Del">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{range $categories}}
    <tr>
        <td class="admin-table-email">{{.Name}}</td>
        <td class="admin-table-user">{{.ID}}</td>
        <td class="admin-table-email">
            <a href="/category/{{.ID}}/edit" class="btn--icon" aria-label="Edit category"><i class="ph ph-pencil-simple"></i></a>
        </td>
        <td class="admin-table-actions">
            <button
              onclick="event.preventDefault()"
              hx-get="/admin/confirmation"
              hx-trigger="click"
              hx-vals='{"action":"delete","id":{{.ID}},"user_id":"0","ActionType":"categoryAction"}'
              hx-target="#cfm_diologe"
              hx-swap="innerHTML" 
              type="button" class="btn--icon" aria-label="Delete user">
                <i class="ph ph-trash"></i>
              </button>
        </td>
    </tr>
    
    {{else}}
    <tr><td colspan="5">No Categories yet.</td></tr>
    {{end}}
  </tbody>
</table>
{{end}}
