{{define "comment_response"}}
    {{template "comment_card" .NewComment}}
    <h2 id="comment-count-header" hx-swap-oob="true">Comments ({{.NewCount}})</h2>
{{end}}

{{define "comment_card"}}
<div class="comment-item" id="comment-{{.ID}}">
    <p>
        <strong>{{.AuthorName}}</strong> — 
        <small>{{.CreatedAt}}</small>
    </p>

    <p>{{.Content}}</p>
    
    <div class="comment-meta">
        {{ template "react" .}}
    </div>

    <div>
        <button>{{.ReplyCount}} Replies</button>
    </div>
</div>
{{end}}