{{define "confirm_secret"}}
<dialog class="ConfermationForm" onclose="this.remove()" >
    <form
        {{if eq .ActionType "userAction" }}  hx-post="/admin/users/action" {{end}}
        {{if eq .ActionType "postAction" }}  hx-post="/admin/post/action" {{end}}
        {{if eq .ActionType "categoryAction" }}  hx-post="/category/{{.ID}}/delete" {{end}}
        hx-target="table.admin-table"
        hx-swap="outerHTML" 
        autocomplete="off"
        style="display:inline">
        <input type="hidden" name="id" value="{{.ID}}">
        <input type="hidden" name="user_id" value="{{.User_id}}">
        <input type="hidden" name="action" value="{{.Action}}">
        <input type="hidden" name="action" value="{{.ActionType}}">


        
        <h3 class="cfm_title">Confirm {{.Action}}</h3>
        <p class="cfm_txt">Enter your confirmation password to continue.</p>
        <input  class="cfm_inp" type="password" name="cfm_secter" autocomplete="new-password" autofocus required>
        {{if .Error}}<p class="error">{{.Error}}</p>{{end}}
        <div class="cfm_btn_div">
            <button type="submit" class="cfm_btn" aria-label="Delete user">
                confirm
            </button>
            <button type="button" class="cfm_btn" onclick="this.closest('dialog').close()">
                Cancel
            </button>
        </div>
            
    </form>
        <script>document.currentScript.closest('dialog').showModal()</script>
</dialog>

{{end}}