{{define "react"}}
<div id="react-container-{{.Post.ID}}">
<!-- need to make this temp genereic with terget id from pagecontent -->
  <form hx-post="/react" hx-target="#react-container-{{.Post.ID}}" hx-swap="outerHTML">

    <input type="hidden" name="target_type" value="{{.TargetType}}">
    <input type="hidden" name="target_id" value="{{.Post.ID}}">
    <input type="hidden" name="value" value="1">

    <button type="submit">
      <i class="ph ph-arrow-fat-up"></i> {{.LikeCount}}
    </button>
  </form>

  <form hx-post="/react"
        hx-target="#react-container-{{.Post.ID}}"
        hx-swap="outerHTML">

    <input type="hidden" name="target_type" value="{{.TargetType}}">
    <input type="hidden" name="post_id" value="{{.Post.ID}}">
    <input type="hidden" name="value" value="-1">

    <button type="submit">
      <i class="ph ph-arrow-fat-down"></i> {{.DislikeCount}}
    </button>
  </form>

  <i class="ph ph-chat-circle"></i> {{.CommentCount}}

</div>
{{end}}