{{define "content"}}
<section >
      <div class="admin_layout">
            {{template "panel_nav"}}
             <div id="cfm_diologe"></div>
            <div class="content_layout" id="admin_content">
                  {{if eq .PageContent.Section "User Table"}}
                        {{template "user_table" .}}
                  {{end}}
                  {{if eq .PageContent.Section "Post Table"}}
                        {{template "post_table" .}}
                   {{end}}
                   {{if eq .PageContent.Section "Category Table"}}
                        {{template "category_table" .}}
                   {{end}}
            </div>
      </div>
</section>
{{end}}