{{define "content"}}
{{$id := .PageContent.CategoryID}}
<div id="logindiv" >
  <form method="POST" action="{{if $id}}/category/{{$id}}/edit{{else}}/category/new{{end}}">
    <div class="title">{{if $id}}Edit category{{else}}New category{{end}}</div>
    
    <div class="inputContainer">
      <label for="name">Name</label>
      <div>
        <input type="text" id="name" name="name"
               value="{{.PageContent.Form.Name}}"
               placeholder="Enter category name" required>
      </div>
    </div>

    <button class="btnSubmit"  type="submit">{{if $id}}Save{{else}}Create{{end}}</button>
  </form>
</div>
{{end}}
