{{define "content"}}

<div id="profile">

    <span class="title">Change Password</span>
    {{if .Error}}
        <div class="error"> {{.Error}} </div>
    {{end}}
    <div id="edit">
        <form method="POST" action="/user/profile/password">

            <div class="row">
                <label class="label" for="currentPassword">current password:</label>
                <input class="input" type="password" id="currentPassword" name="currentPassword" required>
            </div>
            <div class="row">
                <label class="label" for="newPassword">new password:</label>
                <input class="input" type="password" autocomplete="new-password" id="newPassword" name="newPassword" pattern="(.{15,})|((?=.*[a-z])(?=.*[0-9]).{8,})" title="At least 15 characters, OR at least 8 characters including a number and a lowercase letter."  required>
            </div>
            <div class="row">
                <label class="label" for="confirmPassword">confirm new password:</label>
                <input class="input" type="password" id="confirmPassword" name="confirmPassword"  pattern="(.{15,})|((?=.*[a-z])(?=.*[0-9]).{8,})" title="At least 15 characters, OR at least 8 characters including a number and a lowercase letter."  required>
            </div>
            <button class="btn" type="submit"> Update password </button>
            <a class="btn" href="/user/profile"> Cancel </a>
        </form>
        
    </div>
</div>
{{end}}