{{define "content"}}
{{$user := .User}}
{{$post := .PageContent.Post}}
<article>
  <h1>{{$post.Title}}</h1>
  {{if $post.Deleted}}
  <p>Anonymous —  {{ template "react" $post}}</p>
  {{else}}
  <p>by<a href="/user/profile/{{$post.AuthorName}}" class="username"> {{$post.AuthorName}}</a> 
      {{ template "react" $post}}
  </p>
  {{end}}

  <p>{{range $post.Categories}}[{{.Name}}] {{end}}</p>

  {{if $post.Deleted}}
    <div><em>[deleted by user]</em></div>
  {{else}}
    <div>{{$post.Content}}</div>
  {{end}}
    {{if $user}}
        {{if and (eq $user.ID $post.UserID) (not $post.Deleted)}}
            <p><a href="/post/{{$post.ID}}/edit">Edit</a></p>
            <form method="POST" action="/post/{{$post.ID}}/delete" onsubmit="return confirm('Delete this post and all its comments?')">
              <button type="submit">Delete</button>
            </form>
        {{end}}
    {{end}}
</article>

{{if $user}}
<form method="POST" hx-post="/post/{{$post.ID}}/comment/create" hx-target="#comments-list" hx-swap="beforeend" hx-on::after-request="this.reset()">
  <p>
    <input name="userComment" placeholder="Write a comment" required>
  </p>
  <button type="submit">Create</button>
</form>
{{else}}
  <p><a href="/user/login" style="color: red;">Log in</a> or <a href="/user/register" style="color: red;">register</a> to leave a comment.</p>
{{end}}


<section>
  <h2 id="comment-count-header">Comments ({{$post.CommentCount}})</h2>
  <div id="comments-list">
    {{range .PageContent.Comments}}
      {{template "comment_card" .}} 
    {{end}}
  </div>
</section>

{{end}}
