{{define "content"}}

<div id="profile">
{{$user := .PageContent}}
{{if .IsOwner}}{{$user = .User}}{{end}}
    <div class="row">
        <img {{if $user.Image}} src="/static/assets/images/{{$user.Image}}" {{else}} src="/static/assets/images/avatar1.jpg" {{end}} alt="Avatar" class="avatar">
        <span class="title">logged in as</span>
    </div>
    {{if .Error}} 
        <div class="error"> {{.Error}} </div> 
    {{end}}
    <div id="view">

        <div class="row">
            <span class="label">username:</span>
            <span>{{$user.Username}}</span>
        </div>

        <div class="row">
            <span class="label">name:</span>
            <span>{{$user.Name}}</span>
        </div>
        <div class="row">
                <span class="label">Bio:</span>
                <span>{{$user.Bio}}</span>
        </div>
        {{if .IsOwner}}
            <div class="row">
                <span class="label">email:</span>
                <span>{{$user.Email}}</span>
            </div>
        {{end}}
        {{if .IsOwner}}
            <a class="btn" href="/user/profile/edit">Edit</a>
            <a class="btn" href="/user/profile/password">Change password</a>
            <!-- <button class="btn" type="button" > Edit </button> -->
        {{end}}

    </div>

</div>

{{end}}
