{{define "content"}}

<div id="profile">

    <span class="title">Edit Profile Data</span>
    {{if .Error}} 
        <div class="error"> {{.Error}} </div> 
    {{end}}
    <div id="edit">
        <!-- /user/profile/{id}/edit -->
        <form method="POST" action="/user/profile/edit" enctype="multipart/form-data">
            <div class="row">
                <img {{if .User.Image}} src="/static/assets/images/{{.User.Image}}" {{else}} src="/static/assets/images/avatar1.jpg" {{end}} alt="Avatar" class="avatar">
                <div><input type="file" accept="image/png, image/jpeg" id="imagepath" name="imagepath"  /></div>
            </div>
            <div class="row">
                <label class="label" for="username">username:</label>
                <input class="input" type="text" id="username" name="username" value="{{.User.Username}}" >
            </div>
            <div class="row">
                <label class="label" for="name">name:</label>
                <input class="input" type="text" id="name" name="fullname" value="{{.User.Name}}">
            </div>
            <div class="row">
                <label class="label" for="email">email:</label>
                <input class="input" type="email" id="email" name="email" value="{{.User.Email}}">
            </div>
             <div class="row">
                <label class="label" for="bio">Bio:</label>
                <textarea  class="input" type="text" id="bio" name="bio" rows="4" cols="50" >{{.User.Bio}}</textarea>
            </div>
           <button class="btn" type="submit"> Update </button> 
           <a class="btn" href="/user/profile"> Cancel </a>
        </form>

    </div>

</div>


{{end}}
