{{define "content"}}

<div id="profile">

    <span class="title">logged in as</span>
    {{if .Error}} 
        <div class="error"> {{.Error}} </div> 
    {{end}}
    <div id="view">

        <div class="row">
            <span class="label">username:</span>
            <span>{{.User.Username}}</span>
        </div>

        <div class="row">
            <span class="label">name:</span>
            <span>{{.User.Name}}</span>
        </div>

        <div class="row">
            <span class="label">email:</span>
            <span>{{.User.Email}}</span>
        </div>

        {{if .IsOwner}}
            <a class="btn" href="/user/profile/edit">Edit</a>
            <a class="btn" href="/user/profile/password">Change password</a>
            <!-- <button class="btn" type="button" > Edit </button> -->
        {{end}}

    </div>

</div>


{{end}}
