{{define "content"}}
<div id="profile">
    <span class="title">loged in as</span>
    
    <div style="display: flex; flex-direction: row;" id="profile">
        <span>username:</span>
        <span style="width: 10px;"></span>
        <span>{{.User.Username}}</span>
    </div>

    <div style="display: flex; flex-direction: row;" id="profile">
        <span>name:</span>
         <span style="width: 10px;"></span>
        <span>{{.User.Name}}</span>
        <span></span>
    </div>
</div>
{{end}}